body{
    justify-content: center;
    align-items: center;
    display: flex;
}

div {
    position: absolute;
    box-sizing: border-box;
}

#one {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: orange;
    border: 25px solid red;
}

.two {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
    border: 25px solid yellow;
}

.three {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:purple ;
    border: 25px solid royalblue;
}

